{
  "extends": "standard",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "space-before-function-paren": 0,
    "no-unused-vars": 0
  }
}
